<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITE: Conectando Saberes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>SITE: Conectando Saberes</h1>
    <div class="container" style="flex-wrap: wrap; justify-content: center;">
        {% for ano in anos %}
            <a href="{% url 'select_csv' ano %}" class="btn">{{ ano }}</a>
        {% endfor %}
    </div>
</body>
</html>
